.about_container {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_title {
  margin-left: 110px;
  margin-top: 500px;
  align-items: center;
  justify-content: center;
}

.about_img {
  width: 400px;
  border-radius: 50%;
  margin-top: 40px;
  border: 5px solid navy;
}

.about_paragraph {
  width: 400px;
  margin-top: 40px;
}
