.my_name {
  font-size: 50px;
  margin-top: 0px;
  margin-left: 30px;
}

.last_name {
  color: navy;
}

.my_job {
  margin-top: -15px;
  margin-left: 105px;
  font-size: 25px;
}

.button_align {
  margin-left: 5px;
}
